
*{
    padding:0;
    margin:0;
    font-family:sans-serif;
    box-sizing: border-box;
    
}


.navbar-brand h2{
    color: white;
    font-family:cursive;
}
.banner{

    background: radial-gradient(rgba(0,0, 0, 0.5), #152401),url(../images/forbooks.jpg);
    background-position: center; 
    background-size: cover; 
    height: 200px;
    width:auto;
    color:#fff;
}
.nav-bar{
   /* background-color: rgb(180, 152, 82); */
    top:0;
    position: sticky;
    z-index: 10;
}


.nav-link{
    color: white!important;
    font-weight: 700px;
    font-size:18px;
    font-family:cursive;
}
.navbar-nav li{
    padding: 20px;
}

ul li:after{
    content:'';
    width:0%;
    height:2px;
    background:white;
    display:block;
    margin:auto;
    transition: 0.5s;
}
 ul li:hover:after{
    width:80%;
    }  
.header{
        position:absolute;
 }

 .header h2{
    font-weight:600px;
    position: relative;
    color: #fff;
    font-family:cursive;
    text-align: center;
    margin-left:350px !important;
    margin-top: 200px!important;
   
 }
 
    h5,h4{
        text-align:center;
        font-family:cursive;
        color:white;
    }
    

 /*-----------------Aside contents---------------*/


 .col-sm-6 p{
    text-align: justify;
 }

 .container p{
     font-size: 14px;
     text-align: justify;
 }
 /* ------------Books--------------------- */

  .row h4, h5{
      float:left;
      
  }
 
 
 .col-sm-9 h3{
    color: white;
    font-family:cursive;
 }
  .text-muted h4{
    color:white;
    
 } 
 #footer{
     text-align: center;
     color: #fff;
     height:20px;
     width: 100%;
 }

 .card{
    box-shadow: 10px 10px 10px #c4b26c;
}
 