<!DOCTYPE html>
<html lang="en">
<head>
<title>Add book</title>
<!------<meta name="viewport" content="width=device-width, initial-scale=1">-->
<link rel="stylesheet" href="/css/adminbook.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" ></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'></script>



<link rel="stylesheet" href="/css/bootstrap.min.css">

<script src="https://kit.fontawesome.com/7e3306a0d5.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7e3306a0d5.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-------------------------Background and Navbar------------------------->


<div class="banner">
<div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg">
  <div class="container-fluid">
    <div class="navbar-brand" ><h2>Add Book</h2></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/books">Books</a>
        </li>
        
      </ul>
        
      </ul>
    </div>
  </div>
</nav>
</div>

</div>
<br>


<div class="container" style="width:60%">
  <br>
 
      <form name="myform" class="form-group" method="GET" action="/books" onsubmit="return validate()" style="margin-left: 30px;">
       <div class="row">
        

       <div class="col-md-5"> 
       <label class="control-label col-sm-6" style="color:black; font-family:cursive;" for="title">Title</label>
       <input type="text" class="form-control col-sm-6" id="title" placeholder="Enter the Book title" style="font-family:cursive;">
       <label for="error1" id="error1" style="font-family: cursive;"></label>
          </div>
          <div class="col-md-1"></div>
        <div class="col-md-5">
       <label class="control-label col-sm-6" style="color:black; font-family:cursive;" for="title">Author</label>
       <input type="text col-sm-6" class="form-control" id="author" placeholder="Enter the Author's name" style="font-family:cursive;">
       <label for="error2" id="error2" style="font-family: cursive;"></label>
          </div></div>

        <div class="row">
        <div class="col-md-5">
       <label class="control-label col-sm-6" style="color:black; font-family:cursive;" for="title">Genre</label>
       <input type="text" class="form-control col=sm-6" id="genre" placeholder="Enter the Genre" style="font-family:cursive;">
       <label for="error3" id="error3" style="font-family: cursive;"></label>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
       <label class="control-label col-sm-6" style="color:black; font-family:cursive;" for="title">Language</label>
       <input type="text" class="form-control col=sm-6" id="language" placeholder="Enter the language" style="font-family:cursive;">
       <label for="error4" id="error4" style="font-family: cursive;"></label>
          </div></div>
      
          <div class="row">
          <div class="col-md-5">
       <label class="control-label col-sm-6" style="color:black; font-family:cursive;" for="title">Info</label>
       <textarea placeholder="Enter description here.."  id="textitems"  class="form-control col'sm-6" rows="6" cols="43" style="font-family:cursive;"></textarea>
       <label for="error5" id="error5" style="font-family: cursive;"></label>
          </div>
       
          <div class="col-md-1"></div>

        <div class="col-md-5">
       <label class="control-label col-sm-6" style="color:black; font-family:cursive;" for="title" style="font-family:cursive;">Image</label>
       <input type="file"  name="input1" class="form-control col'sm-6" id="input" onchange="showFiles()" accept="image/*" style="font-family:cursive;">
       <label for="error6" id="error6" style="font-family: cursive;"></label>
       <br>
         <img id="preview"> 
        </div></div>

         <div class="row">
          <div class="col-md-12">
            <button type="submit" class="butt" style="text-align:center; font-family:cursive; margin-left: 290px;">Add</button>
          </div>
        </div>  
        
       
      </form>
    

  </div> 

  
  
  
  
  
  
  
  
  
  
  
  
 







































<script defer src="js/adminbook.js"></script>
</body>
</html>